<div class="jumbotron">
	<h1>New user registration is not available</h1>
	<p>Dear user, thank you for your interest in this project. Ledger is currently in private Alpha.</p>
	<p>Please <a href='mailto:evgmya@gmail.com'>send me an email</a> to get an invitation.</p>
</div>