<div class='clearfix' ng-init='assigningCategory=false;'>
	<p style="text-align: left;" class='pull-left'>
		<a href='#{{activeAccount ? "/accounts/" + activeAccount.sequential_number : ""}}/report' ng-hide='activeAccount.is_closed' class='btn btn-sm btn-primary'>
			<i class='glyphicon glyphicon-plus-sign'></i> Report transactions
		</a>
		<button ng-hide='!activeAccount.is_closed' class='btn btn-sm btn-danger' ng-click='removeAccount(activeAccount)'>
			<i class='glyphicon glyphicon-exclamation-sign'></i> Remove account
		</button>
	</p>
	<div class='pull-right' ng-show='!assigningCategory' ng-if='activeAccount'>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-cog"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#" ng-click='isRenaming = true; $event.preventDefault();'>Rename account</a></li>
				<li ng-show='categories.length'><a href="#" ng-click='assigningCategory = true; $event.preventDefault();'>Set category</a></li>
				<li ng-show="!activeAccount.is_closed"><a href="#" ng-click='closeAccount(activeAccount); $event.preventDefault();'>Close account</a></li>
				<li ng-show="activeAccount.is_closed"><a href="#" ng-click='reopenAccount(activeAccount); $event.preventDefault();'>Reopen account</a></li>
			</ul>
		</div>
	</div>
	<div class='pull-right' style='padding-right: 10px' ng-show='!assigningCategory'>
		<h2 style='margin-top: 0'>
			<small ng-show='activeAccount.is_closed'><span class='glyphicon glyphicon-lock'></span></small>
			<small>
				{{activeAccount.balance | money}}
				<small ng-if='activeAccount.unit'>{{activeAccount.unit}}.</small>
				<sup>{{activeAccount.currency_code}}</sup>
			</small> 
			<span ldr-bubble-editor trigger-on='isRenaming' finally='isRenaming = false' value="activeAccount.name" submit='renameAccount(activeAccount, newValue)'>{{activeAccount.name}}</span>
		</h2>
	</div>
	<div class='pull-right' ng-show='assigningCategory'>
		<form name='setAccountCategoryForm' ng-submit='setAccountCategory(activeAccount, categoryId) | then:"assigningCategory=false"' class='form-inline'>
			<input type='hidden' name='test' value='test1' ng-model='test1'>
			<label>Select new category:</label>
			<select ng-init='categoryId = activeAccount.category_id' ng-model='categoryId' class='form-control' autofocus='assigningCategory'
				ng-options='category.category_id as category.name for category in categories | orderBy:"display_order"'>
			</select>
			<button class='btn btn-sm btn-primary'><i class='glyphicon glyphicon-ok'></i></button>
			<button class='btn btn-sm btn-default' type='reset' ng-click='assigningCategory = false;'><i class='glyphicon glyphicon-remove'></i></button>
		</form>
	</div>
</div>