<div class='col-sm-5 col-md-4'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<strong>Accounts</strong>
		</div>
		<ul class='list-group'>
			<a 	href='#/accounts/{{account.sequential_number}}' class='list-group-item'
			ng-repeat="account in accounts" ng-class="{active: activeAccount == account}">
			{{account.name}}
			<span class='pull-right'>{{account.balance}}</span>
		</a>
	</div>
</div>
<div class='col-sm-7 col-md-8'>
	<p style="text-align: right;">
		<a href='#/accounts/{{activeAccount.sequential_number}}/report' class='btn btn-primary'><i class='glyphicon glyphicon-plus-sign'></i> Report transactions</a>
	</p>
	<table class='table table-condensed'>
		<thead>
			<tr>
				<th></th>
				<th>Ammount</th>
				<th>Tags</th>
				<th>Date</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="transaction in transactions">
				<td><i class='glyphicon {{getTransactionTypeIcon(transaction)}}'></i></td>
				<td>{{getTransferAmmountSign(transaction)}}{{transaction.ammount}}</td>
				<td><ledger-tags ng-model="transaction.tag_ids" /></td>
				<td>{{transaction.date}}</td>
				<td>{{transaction.comment}}</td>
			</tr>
		</tbody>
	</table>
</div>
