<div class='panel panel-default panel-info'>
	<div class='panel-heading'>
		<strong>Accounts</strong>
	</div>
	<table class='table table-condensed table-hover' class='list-group'>
		<tr ng-class="{active: activeAccount == null}">
			<td>
				<a href='#/accounts/{{account.sequential_number}}'>Total</a>
				<div class='pull-right'>
					<strong>{{allAccountsTotal - closedTotal | money}}</strong> <sup class='currency-code'>{{ 'currency_code' | activeLedger }}</sup>
				</div>
			</td>
		</tr>
		<tr ng-repeat-end ng-repeat="account in accounts | calculateTotal:'allAccountsTotal' | filter:{category_id: null, is_closed: false} | calculateTotal:'uncategorisedTotal'  | orderBy:'name'" ng-class="{active: activeAccount == account}">
			<td>
				<%= render partial: 'account_info' %>
			</td>
		</tr>
		<tr ng-repeat-start='category in categories | orderBy:display_order' class='info'>
			<td>
				{{category.name}} <small class='pull-right'>{{categorisedTotal | money}} <sup>{{ 'currency_code' | activeLedger }}</sup></small>
			</td>
		</tr>
		<tr ng-repeat-end ng-repeat="account in accounts | filter:{category_id: category.category_id, is_closed: false} | calculateTotal:'categorisedTotal' | orderBy:'name'" ng-class="{active: activeAccount == account}">
			<td>
				<%= render partial: 'account_info' %>
			</td>
		</tr>
		<tr ng-show='showClosed' class='info'>
			<td>
				Closed accounts
			</td>
		</tr>
		<tr ng-show='showClosed' ng-repeat="account in accounts | filter:{is_closed: true} | calculateTotal:'closedTotal' | orderBy:'name'" ng-class="{active: activeAccount == account}">
			<td>
				<%= render partial: 'account_info' %>
			</td>
		</tr>
		<tr ng-if='hasClosedAccounts()'>
			<td class='info'>
				<a href='#' ng-click='toggleShowClosedAccounts(); $event.preventDefault();'>
					<span ng-show='!showClosed'><span class='glyphicon glyphicon-lock'></span> Show closed accounts</span>
					<span ng-show='showClosed'>Hide closed accounts</span>
				</a>
			</td>
		</tr>
	</table>
</div>