<div class='panel panel-default'>
	<div class='panel-heading'>
		<strong>Accounts</strong>
		<div class='pull-right'>
			<a href='#/accounts/new' class="btn btn-default btn-xs" title="Add new account">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
		</div>
	</div>
	<table class='table table-condensed table-hover' class='list-group'>
		<tr ng-repeat-end ng-repeat="account in accounts | filter:{category_id: null, is_closed: false}  | orderBy:'name'" ng-class="{active: activeAccount == account}">
			<td>
				<%= render partial: 'account_info' %>
			</td>
		</tr>
		<tr ng-repeat-start='category in categories | orderBy:display_order' class='info'>
			<td>
				{{category.name}}
			</td>
		</tr>
		<tr ng-repeat-end ng-repeat="account in accounts | filter:{category_id: category.category_id, is_closed: false} | orderBy:'name'" ng-class="{active: activeAccount == account}">
			<td>
				<%= render partial: 'account_info' %>
			</td>
		</tr>
		<tr ng-show='showClosed' class='info'>
			<td>
				Closed accounts
			</td>
		</tr>
		<tr ng-show='showClosed' ng-repeat="account in accounts | filter:{is_closed: true} | orderBy:'name'" ng-class="{active: activeAccount == account}">
			<td>
				<%= render partial: 'account_info' %>
			</td>
		</tr>
		<tr ng-if='hasClosedAccounts()'>
			<td class='info'>
				<a href='#' ng-click='toggleShowClosedAccounts(); $event.preventDefault();'>
					<span ng-show='!showClosed'><span class='glyphicon glyphicon-lock'></span> Show closed accounts</span>
					<span ng-show='showClosed'>Hide closed accounts</span>
				</a>
			</td>
		</tr>
	</table>
</div>