<div class='col-sm-5 col-md-4'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<strong>Accounts</strong>
			<div class='pull-right'>
				<a href='#/tags' class="btn btn-default btn-xs" title="Manage tags">
					<span class="glyphicon glyphicon-tags"></spani>
				</a>
				<a href='#/accounts/new' class="btn btn-default btn-xs" title="Add new account">
					<i class="glyphicon glyphicon-plus"></i>
				</a>
			</div>
		</div>
		<table class='table table-condensed table-hover' class='list-group' ng-init='filter = showClosed ? {} : {is_closed: false}'>
			<tr ng-repeat="account in accounts | filter:filter | orderBy:['is_closed', 'name']" ng-class="{active: activeAccount == account}">
				<td>
					<span ng-show='account.is_closed' class='glyphicon glyphicon-lock'></span>
					<a 	href='#/accounts/{{account.sequential_number}}'>
						{{account.name}}
					</a>
					<span class='pull-right'>{{account.balance | money }}</span> 
				</td>
			</tr>
			<tr>
				<td>
					<a href='#' ng-show='hasClosedAccounts()' ng-click='toggleShouldShowClosedAccounts(); filter = showClosed ? {} : {is_closed: false}; $event.preventDefault();'>
						<span ng-show='!showClosed'>Show closed accounts</span>
						<span ng-show='showClosed'>Hide closed accounts</span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class='col-sm-7 col-md-8'>
	<%= render partial: 'account_transactions' %>
</div>
