<div class="page-header" style='margin-top: 0;'>
	<h1 style='margin-top: 0;'>{{account.name}}</h1>
</div>

<fieldset ng-show="reportedTransactions.length">
	<legend>Reported transactions</fieldset>
	<ul class="list-group">
		<li ng-repeat="transaction in reportedTransactions" class="list-group-item">
			<strong>{{transaction.ammount}} ({{transaction.type}})</strong> 
			<ledger-tags ng-model='transaction.tag_ids'></ledger-tags>
			{{transaction.date.toLocaleDateString()}}{{transaction.comment ? ',' : ''}}
			{{transaction.comment}}
		</li>
	</ul>
</fieldset>

<div class="panel panel-default" id='report-new-transaction-container'>
	<div class="panel-heading">Report new transaction</div>
	<div class="panel-body">
		<form name='newTransactionForm' role="form" class='form-inline' ng-submit='report()'>
			<div class="form-group">
				<input autofocus type="text" class="form-control" placeholder="Ammount" ng-model='newTransaction.ammount' required>
			</div>
			<div class="form-group">
				<label class='control-label' for="type">Type</label>
				<select name="type" id="type" class='form-control' ng-model='newTransaction.type'>
					<option value="income">Income</option>
					<option value="expence">Expence</option>
					<option value="refund">Refund</option>
					<option value="transfer">Transfer</option>
				</select>
			</div>
			<div class='form-group' ng-if='newTransaction.type == "transfer"'>
				<label class='control-label' for="type">Target account</label>
				<select ng-options="account.name for account in accounts track by account.aggregate_id" class='form-control' ng-model='newTransaction.receivingAccount' required>
					<option value="">--Chose account--</option>
				</select>
			</div>
			<div class='form-group' ng-if='newTransaction.type == "transfer"'>
				<input type="text" class="form-control" placeholder="Target ammount" ng-model='newTransaction.ammountReceived' required>
			</div>
			<div class="form-group">
				<label class='control-label' for="date">Date</label>
				<input type="text" class="form-control" placeholder="Date" ng-model='newTransaction.date' bs-datepicker>
			</div>
			<div class="form-group" style='display: block; margin-top: 15px;'>
				<ledger-tags-input ng-model='newTransaction.tag_ids' />
			</div>
			<div class="form-group" style='display: block; margin-top: 15px;'>
				<input type="text" class="form-control" placeholder="Comment" style='width: 100%' ng-model='newTransaction.comment'>
			</div>
			<div class="form-group" style='display: block; margin-top: 15px;'>
				<button class="btn btn-primary"	type='submit'>Report this transaction</button>
				or 
				<a href='#/accounts/{{account.sequential_number}}'>I'm done reporting</a>
			</div>
		</div>
	</form>
</div>