<div class='container-fluid' ng-controller="HomeController">
	<script type="text/javascript">
	ledgerApp.constant('accounts', <%= raw @accounts.to_json %>);
	</script>
	<div class='row'>
		<div class='col-sm-5 col-md-4'>
			<table class='table table-bordered'>
				<tr><th colspan="2">Accounts</th></tr>
				<tr ng-repeat="account in accounts">
					<td>
						<div class='pull-left'>{{account.name}}</div>
						<div class='pull-right'>{{account.balance}}</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>