<div class='container-fluid' ng-app="homeApp">
	<script type="text/ng-template" id='accounts.html'>
	<%= render partial: 'accounts.html' %>
	</script>
	<script type="text/javascript">
		homeApp.constant('accounts', <%= raw @accounts.to_json %>);
	</script>
	<div ng-view class='row'>
	</div>
</div>