<h2>Pending transactions</h2>

<table class='table table-condensed' ng-init='vm.loadPendingTransactions()'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Amount</th>
      <th>Tags</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="transaction in vm.transactions | orderBy:'-date'">
      <td style='width: 20px; white-space: nowrap; padding-right: 20px;'>
        <button class='btn btn-success btn-xs' title='Review and Approve' ng-click='vm.startReview(transaction)'><i class='glyphicon glyphicon-ok'></i></button>
      </th>
      <td style='width: 20px;'><i class='{{transaction | tti}}'></i></td>
      <td>{{transaction.amount}}</td>
      <td><ledger-tags ng-model="transaction.tag_ids" /></td>
      <td>{{transaction.date.toLocaleDateString()}}</td>
      <td>{{transaction.comment}}</td>
    </tr>
  </tbody>
</table>

<review-and-approve-pending></review-and-approve-pending>

<fieldset ng-show="vm.approvedTransactions.length">
  <legend>Approved transactions</legend>
  <transactions-list data='vm.approvedTransactions' show-account="true" />
</fieldset>