/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

form .bootstrap-tagsinput {
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 0;
}