<form ng-submit='move()'>
	<label class='label label-info'>{{transaction.amount | money}} <sup>{{(transaction.account_id | accountById).currency_code}}</sup></label>
	<div class='form-group'>
		<label class='control-label'>From account</label>
		<input class='form-control' type='text' readonly ng-model='(transaction.account_id | accountById).name'>
	</div>
	<div class='form-group'>
		<label class='control-label'>To account</label>
		<select-account ng-model='targetAccount' except='dontMoveTo' />
	</div>
	<div class='form-group'>
		<input type='submit' class='btn btn-primary btn-sm' value='Move' />
		<input type='button' ng-click='cancel()' class='btn btn-default btn-sm' value='Cancel' />
	</div>
</form>