<div class='form-group'>
	<label class='control-label' for="type">Account</label>
	<div class='form-inline'>
		<select-account ng-model='transaction.account' />
	</div>
</div>
<div class='form-group form-inline'>
	<div class="form-group">
		<input autofocus='transaction.amount == null' type="text" class="form-control" placeholder="Amount" ng-model='transaction.amount' required>
	</div>
	<div class="form-group">
		<label class='control-label' for="type">Type</label>
		<select name="type" id="type" class='form-control' ng-model='transaction.type_id'>
			<option value="1" ng-selected="transaction.type_id == 1">Income</option>
			<option value="2" ng-selected="transaction.type_id == 2">Expence</option>
			<option value="3" ng-selected="transaction.type_id == 3">Refund</option>
			<option value="transfer" ng-selected="transaction.type_id == 'transfer'">Transfer</option>
		</select>
	</div>
	<div class="form-group">
		<label class='control-label' for="date">Date</label>
		<ldr-datepicker ng-model='transaction.date' />
	</div>
</div>
<div ng-if='transaction.type_id == "transfer"' class='form-group'>
	<div class='form-group'>
		<label class='control-label' for="type">To the account</label>
		<div class='form-inline'>
			<select-account ng-model='transaction.receivingAccount' except='account' />
			<span class='help-block' style='display: inline-block'>An account that receives the transfer</span>
		</div>
	</div>
	<div class='form-group form-inline'>
		<input type="text" class="form-control" placeholder="Amount received" ng-model='transaction.amount_received' required>
		<span class='help-block' style='display: inline-block'>An actual amount that will be added to the receiving account</span>
	</div>
</div>
<div class="form-group">
	<ledger-tags-input ng-model='transaction.tag_ids' />
</div>
<div class="form-group">
	<input type="text" class="form-control" placeholder="Comment" ng-model='transaction.comment'>
</div>