<div class="panel panel-default" id='report-new-transaction-container'>
	<div class="panel-heading">Report new transaction</div>
	<div class="panel-body">
		<form name='newTransactionForm' role="form" ng-submit='report()'>
			<div class='form-group'>
				<label class='control-label' for="type">Account</label>
				<div class='form-inline'>
					<select ng-options='account | nameWithBalance for account in accounts | orderBy:"name"' class='form-control' ng-model='account' required>
					</select>
				</div>
			</div>
			<div class='form-group form-inline'>
				<div class="form-group">
					<input autofocus='newTransaction.amount == null' type="text" class="form-control" placeholder="Amount" ng-model='newTransaction.amount' required>
				</div>
				<div class="form-group">
					<label class='control-label' for="type">Type</label>
					<select name="type" id="type" class='form-control' ng-model='newTransaction.type_id'>
						<option value="1">Income</option>
						<option value="2">Expence</option>
						<option value="3">Refund</option>
						<option value="transfer">Transfer</option>
					</select>
				</div>
				<div class="form-group">
					<label class='control-label' for="date">Date</label>
					<ldr-datepicker ng-model='newTransaction.date' />
				</div>
			</div>
			<div ng-if='newTransaction.type_id == "transfer"' class='form-group'>
				<div class='form-group'>
					<label class='control-label' for="type">To the account</label>
					<div class='form-inline'>
						<select ng-options='account.aggregate_id as account | nameWithBalance for account in accounts | orderBy:"name"' class='form-control' ng-model='newTransaction.receiving_account_id' required>
							<option value="">--Please chose account--</option>
						</select>
						<span class='help-block' style='display: inline-block'>An account that receives the transfer</span>
					</div>
				</div>
				<div class='form-group form-inline'>
					<input type="text" class="form-control" placeholder="Amount received" ng-model='newTransaction.amount_received' required>
					<span class='help-block' style='display: inline-block'>An actual amount that will be added to the receiving account</span>
				</div>
			</div>
			<div class="form-group">
				<ledger-tags-input ng-model='newTransaction.tag_ids' />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Comment" ng-model='newTransaction.comment'>
			</div>
			<div class="form-group">
				<button class="btn btn-primary"	type='submit'>Report this transaction</button>
				or 
				<a href='#/accounts/{{account.sequential_number}}'>I'm done reporting</a>
			</div>
		</form>
	</div>
</div>

<fieldset ng-show="reportedTransactions.length">
	<legend>Reported transactions</legend>
	<transactions-list data='reportedTransactions' />
</fieldset>