<div class="panel panel-default" id='report-new-transaction-container'>
	<div class="panel-heading">Report new transaction</div>
	<div class="panel-body">
		<form name='newTransactionForm' role="form" ng-submit='report()'>
			<new-transaction-details transaction="newTransaction"></new-transaction-details>
			<div class="form-group">
				<button class="btn btn-primary"	type='submit'>Report this transaction</button>
				or 
				<a href='#/accounts/{{account.sequential_number}}'>I'm done reporting</a>
			</div>
		</form>
	</div>
</div>

<fieldset ng-show="reportedTransactions.length">
	<legend>Reported transactions</legend>
	<transactions-list data='reportedTransactions' show-account='true' />
</fieldset>