<label style='display: block'><i class='glyphicon glyphicon-transfer'></i> Transfer transaction</label>
<div style='text-align: left;'>Transfered from account: <label>{{transaction.sending_account_id | accountById | nameWithBalance}}</label></div>
<div style='text-align: left;'>Transfered to account: <label>{{transaction.receiving_account_id | accountById | nameWithBalance}}</label></div>