<table class='table table-condensed'>
	<thead>
		<tr>
			<th></th>
			<th>Amount</th>
			<th>Tags</th>
			<th>Date</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transaction in transactions">
			<td><i class='{{transaction | tti}}'></i></td>
			<td ldr-bubble-editor format='money' submit='adjustAmount(transaction, newValue)' value="transaction.amount">{{getTransferAmountSign(transaction)}}{{transaction.amount | money}}</td>
			<td ldr-bubble-editor='tags' value='transaction.tag_ids' submit='adjustTags(transaction, newValue)'><ledger-tags ng-model="transaction.tag_ids" /></td>
			<td ldr-bubble-editor='date' value='transaction.date' submit='adjustDate(transaction, newValue)'>{{transaction.date.toLocaleDateString()}}</td>
			<td ldr-bubble-editor submit='adjustComment(transaction, newValue)' value="transaction.comment">{{transaction.comment}}</td>
			<td style="padding-top: 3px; padding-bottom: 3px;">
				<div ng-show="confirmRemoval" class="alert alert-danger" style="margin-bottom: 0px; position: absolute; right: 40px; z-index: 100; white-space: nowrap; margin-top: -4px; padding-top: 3px; padding-bottom: 3px;">The transaction will be removed. Continue?
					<button ng-click="removeTransaction(transaction)" class="btn btn-danger btn-xs">Yes</button>
					<button ng-click="confirmRemoval = false" class="btn btn-default btn-xs">No</button>
				</div>
				<div class="btn-group">
					<button style='padding-top: 2px;' type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
						<i class='glyphicon glyphicon-cog'></i>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="confirmRemoval = true" ng-init="confirmRemoval = false"><i class='glyphicon glyphicon-trash'></i> Remove</a></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>