<table class='table table-stripped'>
  <thead>
    <tr>
      <th>Device Id</th>
      <th>Device name</th>
      <th>Registered At</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3432001</td>
      <td>S860</td>
      <td>21/07/2015 18:30</td>
    </tr>
  </tbody>
</table>